<h1>hello post</h1>
<% @posts.each do |post| %>
  <h2><%= link_to post.title, post%></h2>
  <p><%= link_to "edit", edit_post_path(post)%></p>
  <p><%= link_to "delete", post, :data => {:confirm => 'Are you sure?', :method => :delete} %></p>
  <hr />
<% end %>
<p><%= link_to "new post", new_post_path%></p>